<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce class="bg-class ion-no-padding">

  <div style="overflow-y: auto; height:72%;">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="8">
          <p class="label-primary">Air Quality</p>
          <p class="label-secondary">11:45 PM EST</p>
          <p class="label-plain">Living Room, White Plains, NY</p>
        </ion-col>
        <ion-col size="4">
          <ion-row class="options-group">
            <ion-col offset="1" size="3">
              LR
            </ion-col>
            <ion-col offset="1" size="3">
              BR
            </ion-col>
            <ion-col offset="1" size="3">
              6+
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="6" class="ion-text-center" align-self-center>
          <p class="label-bold">INDOOR</p>
        </ion-col>
        <ion-col size="6" class="ion-text-center" align-self-center>
          <p class="label-bold">OUTDOOR</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-text-center" align-self-center>
          <p class="label-lg">0</p>
          <p class="label-secondary">US AQI</p>
          <p class="label-plain">PM 2.5 | 13.9 UG/M³</p>
        </ion-col>
        <ion-col size="6" class="ion-text-center" align-self-center>
          <p class="label-lg">135</p>
          <p class="label-secondary">US AQI</p>
          <p class="label-plain">PM 2.5 | 13.9 UG/M³</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-vertical">
        <ion-col size="4" offset="1" class="aqi-status ion-text-center">
          <ion-label color="success">Good</ion-label>
        </ion-col>
        <ion-col size="4" offset="2" class="aqi-status ion-text-center">
          <ion-label color="warning">Moderate</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center label-plain" size="12">
          Indoor Details
        </ion-col>
      </ion-row>

      <ion-row style="padding: 0 12%">
        <ion-col class="ion-text-center" size="12">
          <div class="chart">
            <div class="bar-1" style="grid-row-start: 87"></div>
            <div class="bar-2" style="grid-row-start: 75"></div>
            <div class="bar-3" style="grid-row-start: 56"></div>
            <div class="bar-4" style="grid-row-start: 31"></div>
            <div class="bar-5" style="grid-row-start: 18"></div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center font-sm-light-padding" size="2" offset="1">
          <p>68</p>
          <p>TEMP</p>
        </ion-col>
        <ion-col class="ion-text-center font-sm-light-padding" size="2">
          <p>21%</p>
          <p>Humidity</p>
        </ion-col>
        <ion-col class="ion-text-center font-sm-light-padding" size="2">
          <p>451 ppm</p>
          <p>CO2</p>
        </ion-col>
        <ion-col class="ion-text-center font-sm-light-padding" size="2">
          <p>490 ppb</p>
          <p>TVCC</p>
        </ion-col>
        <ion-col class="ion-text-center font-sm-light-padding" size="2">
          <p>9 Bq/m3</p>
          <p>RADON</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>

<!-- Link to npm package : https://www.npmjs.com/package/ion-bottom-drawer -->
<ion-bottom-drawer minimumHeight="235" dockedHeight="850" shouldBounce="true" distanceTop="50">

  <div class="drawer-content">

    <div class="weather-slide">
      <p class="ion-text-center ion-no-margin"><strong>Weather</strong></p>
      <p class="ion-text-center ion-no-margin" style="font-size: 8px;"><strong>08:52 PM EST</strong></p>
      <p class="ion-text-center ion-no-margin font-sm-light">San Francisco, CA</p>

      <ion-grid class="ion-no-margin">

        <ion-row class="weather-metadata ion-align-items-center">
          <ion-col size="4">
            <p class="center-align">Feels Like 58</p>
          </ion-col>
          <ion-col size="4" color="primary">
            <div class="ion-no-margin"><img src="../../assets/icon/Asset 46.png" width="20" />
            </div>
            <ion-label class="label-lg-primary">58&deg;</ion-label>
            <!-- <p class="label-sm">Mostly Cloudy</p>
                <p style="font-size:6px;" class="label-sm">68&deg; Max | 56&deg; Min</p> -->
          </ion-col>
          <ion-col size="4" class="ion-padding-vertical">
            <p class="center-align">0%</p>
          </ion-col>
        </ion-row>

        <ion-row class="weather-metadata" style="border-bottom: 1px solid #d7d8da; padding-bottom: 1em;">
          <ion-col size="4" align-self-center>
            <ion-row>
              <ion-col size="6" class="ion-text-right">
                <img src="../../assets/icon/humidity.svg" />
              </ion-col>
              <ion-col size="6" class="ion-text-left">
                78 %
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4" color="primary">
            <p class="label-sm">Mostly Cloudy</p>
            <p style="font-size:8px;font-weight: normal" class="label-sm">68&deg; Max | 56&deg; Min</p>
          </ion-col>
          <ion-col size="4" align-self-center>
            <ion-row>
              <ion-col size="6" class="ion-text-right">
                <img src="../../assets/icon/navigation.svg" width="15" />
              </ion-col>
              <ion-col size="6" class="ion-text-left">
                6mPh
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="4" class="label-sm" (click)="changeDaySelected(1)"
            [ngStyle]="{ 'font-weight': (daySelected==1) ? 'bold' : 'normal' }">
            <p>Friday</p>
          </ion-col>
          <ion-col size="4" class="label-sm" (click)="changeDaySelected(2)"
            [ngStyle]="{ 'font-weight': (daySelected==2) ? 'bold' : 'normal' }">
            <p>Saturday</p>
          </ion-col>
          <ion-col size="4" class="label-sm" (click)="changeDaySelected(3)"
            [ngStyle]="{ 'font-weight': (daySelected==3) ? 'bold' : 'normal' }">
            <p>Sunday</p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-padding" style="border-bottom: 1px solid #d7d8da">
          <div class="scrolling-wrapper">
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-success"><strong>0-50</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 38.png" width="20px"></p>
              <p class="font-sm-dark"><strong>58&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-success"><strong>0-50</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 39.png" width="20px"></p>
              <p class="font-sm-dark"><strong>72&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-aqimid"><strong>100-150</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 40.png" width="20px"></p>
              <p class="font-sm-dark"><strong>73&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-danger"><strong>150-200</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 42.png" width="20px"></p>
              <p class="font-sm-dark"><strong>58&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-success"><strong>0-50</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 38.png" width="20px"></p>
              <p class="font-sm-dark"><strong>58&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-success"><strong>0-50</strong></p>
              <p class="ion-no-margin">
                <img src="../../assets/icon/Asset 39.png" width="20px">
              </p>
              <p class="font-sm-dark"><strong>72&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-aqimid"><strong>100-150</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 40.png" width="20px"></p>
              <p class="font-sm-dark"><strong>73&deg;</strong></p>
            </div>
            <div class="card">
              <p class="font-sm-light">12 PM</p>
              <p class="font-sm-danger"><strong>150-200</strong></p>
              <p class="ion-no-margin"><img src="../../assets/icon/Asset 42.png" width="20px"></p>
              <p class="font-sm-dark"><strong>58&deg;</strong></p>
            </div>
          </div>
        </ion-row>

        <ion-row>
          <ion-col size="6" (click)="changeDataDisplayType(1)"
            [ngStyle]="{ 'font-weight': (dataDisplayType == 1) ? 'bold' : 'normal' }" class="label-sm">
            <p>Hourly</p>
          </ion-col>
          <ion-col size="6" (click)="changeDataDisplayType(2)"
            [ngStyle]="{ 'font-weight': (dataDisplayType == 2) ? 'bold' : 'normal' }" class="label-sm">
            <p>Daily</p>
          </ion-col>
        </ion-row>

        <div style="overflow-y: scroll">
          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">12:15 PM</p>
              <p *ngIf="dataDisplayType == 2">Monday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 38.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 25%"></span>
              </div> <span class="font-sm-success progress-bar-temp"><strong>50</strong></span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">12:30 PM</p>
              <p *ngIf="dataDisplayType == 2">Tuesday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 39.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 40%"></span>
              </div> <span class="font-sm-success progress-bar-temp"><strong>50</strong></span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">12:45 PM</p>
              <p *ngIf="dataDisplayType == 2">Wednesday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 40.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>68&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 60%"></span>
              </div> <span class="font-sm-aqimid progress-bar-temp"><strong>75</strong></span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">01:00 PM</p>
              <p *ngIf="dataDisplayType == 2">Thursday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 42.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 25%"></span>
              </div> <span class="font-sm-danger progress-bar-temp"><strong>150</strong></span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">01:15 PM</p>
              <p *ngIf="dataDisplayType == 2">Friday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 38.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 75%"></span>
              </div> <span class="font-sm-success progress-bar-temp"><strong>50</strong></span>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">01:15 PM</p>
              <p *ngIf="dataDisplayType == 2">Friday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 38.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 75%"></span>
              </div> <span class="font-sm-success progress-bar-temp"><strong>50</strong></span>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">01:15 PM</p>
              <p *ngIf="dataDisplayType == 2">Friday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 38.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 75%"></span>
              </div> <span class="font-sm-success progress-bar-temp"><strong>50</strong></span>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="3" class="label-sm ion-text-left">
              <p *ngIf="dataDisplayType == 1">01:15 PM</p>
              <p *ngIf="dataDisplayType == 2">Friday</p>
            </ion-col>
            <ion-col size="2" class="ion-padding-top">
              <img src="../../assets/icon/Asset 38.png" width="20px">
            </ion-col>
            <ion-col size="2" class="label-sm">
              <p>97&deg;</p>
            </ion-col>
            <ion-col size="5" style="padding-top: 5px;" class="label-sm">
              <div class="progress-bar">
                <span style="width: 75%"></span>
              </div> <span class="font-sm-success progress-bar-temp"><strong>50</strong></span>
            </ion-col>
          </ion-row>

        </div>
      </ion-grid>

    </div>


  </div>
</ion-bottom-drawer>