<ion-content>
    <div class="custom-image-wrapper">
        <ion-img src="assets/images/app-logo.png"></ion-img>
    </div>

    <div class="login-form-wrapper">
        <div class="custom-email-wrapper">
            <ion-input type="email" placeholder="Email"></ion-input>
        </div>
        <div class="custom-password-wrapper">
            <ion-input type="password" placeholder="Password"></ion-input>
        </div>
        <div class="custom-wrapper-forgot-password">
            <ion-button class="ion-text-capitalize" fill="clear" size="small">
                Forgot Password
            </ion-button>
        </div>

        <div class="custom-sign-in">
            <p>or Sign in using</p>
        </div>
    </div>

    <div class="custom-social-wrapper">
        <div class="fb-image-wrapper">
            <ion-img src="assets/icon/facebook-logo.svg"></ion-img>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="g-image-wrapper">
            <ion-img src="assets/icon/google-logo.svg"></ion-img>
        </div>
    </div>

    <div class="custom-sign-in-wrapper">
        <ion-button shape="round" class="ion-text-capitalize">
            Sign in
        </ion-button>
    </div>



    <ion-grid fixed>
        <ion-row>
            <ion-col size="6">
                <ion-button class="ion-text-capitalize" fill="clear" size="small" color="light">
                    Sign up
                </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
                <ion-button class="ion-text-capitalize" fill="clear" size="small" color="light">
                    Need Help ?
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>